<li>
	{{burger_name}}

	<button class="change-devoured" data-id="{{id}}" data-newDevoured="{{devoured}}">
		{{#if devoured}}BURGER TIME!{{else}}You're full?{{/if}}
	</button>

	<button class="delete-burger" data-id="{{this.id}}">Welcome to Gross Burger, can I throw out your order?</button>
</li>
