<li>
	{{burger_name}}

	<button class="change-devoured" data-id="{{id}}" data-devoured="{{devoured}}">
		{{#if devoured}}BURGER TIME!{{else}}You're full?{{/if}}
	</button>

	<button class="delete-burger" data-id="{{this.id}}">Throw Out?</button>
</li>
